.filtroNombre{
    width: 50%;
   text-align: center;
   margin-left: 21em;
   margin-top: 6em;
   }
   
   
   .btn-danger{
     margin-left: 10em;
     margin-bottom: 2em;
   }
   
     
   
     .card-header{
         background-color:#FFFFFF;
           width: 14em;
        height: 11em;
     }
     .container{
         margin-top: 60px;
         margin-left: 160px;
        
     }
     
     .col-sm-6.col-md-4.col-lg-3.col-xl-2.mt-3{
         width: 250px;
     
     }
   
    
       
    
       
   
       .pagination {
         display: flex;
         justify-content: center;
         margin-top: 20px;
         text-align: center;
       }
       
       .pagination-button {
         background-color: #4CAF50; 
         border: none;
         color: white;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         border-radius: 5px;
         transition: background-color 0.3s;
       }
       
       .pagination-button:hover {
         background-color: #45a049; 
       }
       
       .pagination-button:disabled {
         background-color: #cccccc; 
         cursor: not-allowed;
       }
     
   
   
             
             @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
             *
             {
                 -webkit-box-sizing: border-box;
                         box-sizing: border-box;
                 margin: 0;
                 padding: 0;
             }
             
             
             body
             {
                 font-family: 'Roboto', sans-serif;
             }
             a
             {
                 text-decoration: none;
             }
             .product-card {
                 width: 350px;
                 position: relative;
                 box-shadow: 0 2px 7px #dfdfdf;
                 margin: 0.8em;
                 background: #fafafa;
                 display: inline-block;
                 vertical-align: top;
             }
             
             .badge {
                 position: absolute;
                 left: 0;
                 top: 20px;
                 text-transform: uppercase;
                 font-size: 13px;
                 font-weight: 700;
                 background: red;
                 color: #fff;
                 padding: 3px 10px;
             }
             
             .product-tumb {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 height: 300px;
                 padding: 50px;
                 background: #f0f0f0;
             }
             
             .product-tumb img {
                 max-width: 100%;
                 max-height: 100%;
             }
             
             .product-details {
                 padding: 30px;
             }
             
             .product-catagory {
                 display: block;
                 font-size: 12px;
                 font-weight: 700;
                 text-transform: uppercase;
                 color: #ccc;
                 margin-bottom: 18px;
             }
             
             .product-details h4 a {
                 font-weight: 500;
                 display: block;
                 margin-bottom: 18px;
                 text-transform: uppercase;
                 color: #363636;
                 text-decoration: none;
                 transition: 0.3s;
             }
             
             .product-details h4 a:hover {
                 color: #fbb72c;
             }
             
             .product-details p {
                 font-size: 15px;
                 line-height: 22px;
                 margin-bottom: 18px;
                 color: #999;
             }
             
             .product-bottom-details {
                 overflow: hidden;
                 border-top: 1px solid #eee;
                 padding-top: 20px;
             }
             
             .product-bottom-details div {
                 float: left;
                 width: 50%;
             }
             
             .product-price {
                 font-size: 18px;
                 color: #fbb72c;
                 font-weight: 600;
             }
             
             .product-price small {
                 font-size: 80%;
                 font-weight: 400;
                 text-decoration: line-through;
                 display: inline-block;
                 margin-right: 5px;
             }
             
             .product-links {
                 text-align: right;
             }
             
             .product-links a {
                 display: inline-block;
                 margin-left: 5px;
                 color: #e1e1e1;
                 transition: 0.3s;
                 font-size: 17px;
             }
             
             .favorito i {
               color: red; /* Cambia el color del corazón a rojo cuando esté en modo favorito */
             }
             
             .no-favorito i {
               color: grey; /* Cambia el color del corazón a gris cuando no esté en modo favorito */
             }
             
             .cart-icon {
               color: grey; /* Color inicial del carrito */
             }
             
             .cart-icon i:hover {
               color: green; /* Cambia el color del carrito a verde al pasar el ratón por encima */
             }
         